---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'
import { Tweet, Vimeo, YouTube } from 'astro-embed'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
// - Avatars
import user1 from '../../../assets/avatars/avatar-01.webp'
import user2 from '../../../assets/avatars/avatar-02.webp'
import user3 from '../../../assets/avatars/avatar-03.webp'
const avatars = [
	{ image: { src: user1.src, alt: 'user name' }, link: '/' },
	{ image: { src: user2.src, alt: 'user name' }, link: '/' },
	{ image: { src: user3.src, alt: 'user name' }, link: '/' }
]
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<!-- <ChipNotification radius="rounded-full" classes="mb-6">
				<strong>30K+</strong> satisfied customers
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification> -->
			<!-- <h1>Enhance team <strong>performance</strong> with seamless integration</h1> -->
			<h1><strong>Idea</strong> to <strong>App Store</strong><br>in Under an Hour</h1>

			<!-- <p class="pb-0 text-lg">Work smarter, not harder, with our innovative platform</p> -->
			<p class="pb-0 text-lg">Multi Framework is a single, clean architecture codebase targeting Web, iOS, Android, macOS, and Windows, backed by a fully automated deployment pipeline.</p>
			<p class="pb-0 text-lg">Write once, deploy everywhere automatically.</p>
			<Button size="lg" link="https://tally.so/r/Gx6VYz">50% early-access discount</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<!-- <Image
				src={heroImage}
				alt="Multi Framework. Idea to App Store in Under an Hour"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
				format="webp"
			/> -->
			<p class="text-center mb-3 text-gray-400">Click below to watch the video</p>
			<YouTube
        id="dQw4w9WgXcQ"
        title="Idea to App Store in Under an Hour"
		    poster={heroImage.src}
        class="max-w-none relative w-full pb-[56.25%] h-0 overflow-hidden [&>iframe]:absolute [&>iframe]:top-0 [&>iframe]:left-0 [&>iframe]:w-full [&>iframe]:h-full" />
		</Col>
		<Col span="2" />
	</Row>
</Section>
